body, html, .wrapper, .container-full {
  height: 100%;
}

.wrapper .container-full {
  max-width: none;
  text-align: center;
  padding: 0;
}

@keyframes fade-in {
    from { opacity:0; }
    to { opacity:1; }
}

.title {
  color: #212121;
  margin-top: 2rem;
  animation-name: fade-in;
  animation-duration: 0.4s;
}

.middle-title {
  margin-top: 2.6rem;
}

.container-full .row {
  margin: 0;
  width: 100%;
  height: 100%;
}

.container-full .row .column {
  padding: 0;
}

.left-bar {
  background-color: #bdbdbd;
}

.main-area {
  background-color: #e0e0e0;
}

.msg-err {
  font-size: 1.5rem;
  color: #212121;
  margin: 1rem 1rem 1rem 2rem;
  animation-name: fade-in;
  animation-duration: 0.3s;
}

tr .td-center {
  color: #212121;
  background-color: #fafafa;
  text-align: center;
  max-width: 5rem;
  padding: 1rem 1rem 1rem 1.3rem;
  transition: 0.3s;
}

tr .td-center:hover {
  background-color: #eeeeee;
}

tr .td-danger {
  color: #eeeeee;
  background-color: #f44336;
  text-align: center;
  max-width: 0.6rem;
  padding: 0.7rem;
  transition: 0.3s;
}

tr .td-danger:hover {
  background-color: #e57373;
}

tr .td-primary {
  color: #eeeeee;
  background-color: #2196f3;
  text-align: center;
  max-width: 0.6rem;
  padding: 0.7rem;
  transition: 0.3s;
}

tr .td-primary:hover {
  background-color: #64b5f6;
}

tr .td-empty {
  padding: 0;
}

td input[type="text"] {
  margin: 0;
  height: 2.5rem;
  width: 100%;
}

.detail-card {
  padding: 2rem;
  animation-name: fade-in;
  animation-duration: 0.4s;
}

.btn-add {
  background-color: #2196f3;
  border-color: #2196f3;
  transition: 0.3s;
}

.btn-add:hover {
  background-color: #64b5f6;
  border-color: #64b5f6;
}

.btn-add:active {
  background-color: #42a5f5;
  border-color: #42a5f5;
}
